@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color:#110f01 ;
   /* height: 100%;*/
     /* Color Theme Swatches in Hex */

/*.Aspirin-C-1-hex { color: #225378; }
.Aspirin-C-2-hex { color: #1695A3; }
.Aspirin-C-3-hex { color: #ACF0F2; }
.Aspirin-C-4-hex { color: #F3FFE2; }
.Aspirin-C-5-hex { color: #EB7F00; }
*/

/* Color Theme Swatches in RGBA 
.Aspirin-C-1-rgba { color: rgba(33, 82, 119, 1); }
.Aspirin-C-2-rgba { color: rgba(21, 148, 163, 1); }
.Aspirin-C-3-rgba { color: rgba(171, 239, 242, 1); }
.Aspirin-C-4-rgba { color: rgba(242, 255, 226, 1); }
.Aspirin-C-5-rgba { color: rgba(234, 126, 0, 1); }
*/

}
body {
    background-image: linear-gradient(to rightl,  #F3FFE2, #ACF0F2, #1695A3, #225378, #EB7F00);
    background-attachment: fixed;
}
main {
    background-color: rgb(250, 254, 255);
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#2c09f3;
    text-align: center;
}

h2 {
    color: black;
}
p {
    text-align: justify;
}